html {
  box-sizing: border-box;
}

/* @font-face {
	font-family: 'Font Name';
	src: local('Font Name'),
		url(/fonts/font.ttf);
} */

*,
*::before *::after {
  box-sizing: border-box;

}

@font-face {
  font-family: 'Muller';
  src: local("Muller-Regular"),
    url('../fonts/MullerRegular.woff2') format("woff2"),
    url('../fonts/MullerRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local("Muller-Medium"),
    url('../fonts/MullerMedium.woff2') format("woff2"),
    url('../fonts/MullerMedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local("Muller-Bold"),
    url('../fonts/MullerBold.woff2') format("woff2"),
    url('../fonts/MullerBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  background-color: #E5E5E5;
  font-weight: 400;
}


/* VARIABLE */
:root {
  --accent-color: #CC9933;
}


/* COMMON */
.flex {
  display: flex;
}

.center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-45 {
  gap: 45px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* MAIN PAGE */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;

}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1200px;

  margin: 0 auto;
}

.section-offset {
  padding-bottom: 70px;
}

/* header */


.header-container {
  flex-direction: column;
}

.header-icon-link {
  text-align: center;
}

.header {
  padding: 36px 0;

}

.header-logo {
  margin-right: 40px;
}

.header-top {
  margin: 0;
  margin-bottom: 30px;

  align-items: center;
  justify-content: space-between;
}

.header-item-link {
  padding: 15px 0;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-profile-button {
  padding: 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.header-profile-button>p {
  margin: 0 0 0 7px;
}

.header-list-link {
  padding: 13px 20px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.btn-header-btn {
  padding: 13px 20px;
  line-height: 16px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}

.header-bot {
  padding: 14px 45px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #FFFFFF;
  border-radius: 15px;
}

.header-list {
  margin: 0;
  padding: 0;
}

/* special-list */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blog-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;

}

.special-title,
.about-title,
.services-title,
.benefits-title,
.article-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
  padding-left: 40px;
}

.about-descr {
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}


.blog-services-desc {
  margin-top: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;

}

.services-list {
  flex-wrap: wrap;
  gap: 24px;
  margin-inline: auto;
  justify-content: space-between;
}

.services-items {
  width: 570px;
  margin-bottom: 24px;
  display: flex;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 0 auto;
}

.special-item-right {
  padding: 240px 229px 49px 45px;

}



.special_price_desc_right {
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
}

.services-image1 {
  background-image: url(..//img/services-1.jpg);

}

.services-image2 {
  background-image: url(..//img/services-2.jpg);
}

.services-image3 {
  background-image: url(..//img/services-3.jpg);
}

.services-image4 {
  background-image: url(..//img/services-4.jpg);
}

.services-items:not(:nth-child(2n)) {
  margin-right: 24px;
}

.blog-services-text {
  margin-bottom: auto;
  padding: 26px 126px 35px 45px;
  background: white;
  border-radius: 0px 0px 15px 15px;

}

.card1 {
  margin-bottom: 24px;
}


.special__content {
  min-height: 600px;
  display: flex;
}

.special__block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 2);

}

.special-title-desc {

  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  width: 420px;
  padding-bottom: 15px;
  display: inline-block;
}

.special_price_desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  padding-bottom: 47px;
}

.special-desc-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
  color: #F0BF5F;

}

.special-title-right-desc {
  font-size: 60px;
  line-height: 65px;
  color: #FFFFFF;
  padding-bottom: 15px;
}

.special_price_desc_right {
  padding-bottom: 47px;
}

.special-desc-details-right {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;

}

.special__block-image-1 {
  background-image: url(..//img/blog-1.jpg);
  background-repeat: round;
  background-size: cover;
  border-radius: 15px;
}

.special__block-image-2 {
  background-image: url(..//img/blog-2.jpg);
  background-repeat: round;
  background-size: cover;
  border-radius: 15px;
}

.special__block-image-3 {
  background-image: url(..//img/blog-3.jpg);
  background-size: 584px 630px;
  background-repeat: round;
  border-radius: 15px;
}


.special__block:not(:last-child) {
  margin-right: 30px;
}

.special__item {
  flex: 1;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  padding: 40px 108px 40px 45px;

}

.item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 60px;
  /* padding: 240px 230px 148px 45px; */
  height: 180px;
  justify-content: flex-end;
}



.special__item:last-child {
  margin-bottom: 0;
}

.benefits-list {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 22px;
  margin-inline: auto;


}

.benefits-item {
  flex-wrap: wrap;
  min-block-size: 100px;
  background-color: white;
  border-radius: 15px;
  text-align: inherit;

}

@media (min-width: 1155px) {
  .benefits-item {
    flex-basis: calc((100% - 77px) / 6);
  }
}

.article-list {
  flex-wrap: wrap;
  gap: 24px;
  margin-inline: auto;
  justify-content: space-between;
}

.article-item {
  flex-direction: column;
  width: 374px;
}

.article-details {
  min-width: 374px;
  background-image: url(..//img/article-9.jpg);
  height: 440px;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.blog-preview-text {
  padding: 32px 45px 45px 45px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.location {
  margin-bottom: 20px;
}

.btn {
  padding: 13px 20px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  display: flex;
  width: 100px;
  height: 42px;
  background-color: #FFFFFF;
  align-items: center;
  cursor: pointer;
}

.article-title-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 16px;
}

.raiting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.price {
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  padding-right: 4px;
}

.price-desc {
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  padding-right: 4px;
}

.price-desc-night {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.location {
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.benefits-item {
  padding: 40px 42px 32px 45px;

}

.blog-services-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  vertical-align: middle;
  font-weight: 500;
  align-items: center;
}

.blog-services {
  padding-top: 165px;
}

.benefits-desc {
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  padding-top: 5px;
}

.article-item-link {
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
  color: #FFFFFF;
  padding-bottom: 15px;
  align-items: center;
}

.services-item-icon {
  padding-left: 5px;
}

.color-form {
  background-color: #dcdcdc96;
  padding: 40px;
  padding-bottom: 52px;
  border-radius: 15px;

}


.form-center {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 32px 17px;
}

.form-blog {
margin-right: 41px;
}

.blog-input:not(:last-child) {
  margin-right: 41px;
}

.blog-input:nth-last-child(-n+2) {
  margin-right: 51px;
}

.section-contacts {
  background-color: white;
  height: 620px;
}

.form-content {
  margin-bottom: 19px;

  justify-content: space-between;
}


.section-left {
  width: 45%;

  flex-direction: column;
}

.section-right {
  width: 55%;
  padding: 45px;
  padding-left: 52px;
}

.contacts-blog {
  padding: 45px 0 45px 45px;

  display: flex;

  border-bottom: 1px solid #E9E9E9;
}

.contacts-title {
  width: 200px;

  flex-shrink: 0;

  font-size: 16px;
}

.contacts-desc {
  display: flex;
  flex-direction: column;
}
