html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;

}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif;
  background-color: #E5E5E5;
}


/* VARIABLE */
:root {
  --accent-color: #CC9933;
}


/* COMMON */
.flex {
  display: flex;
}

.center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-45 {
  gap: 45px;
}


/* MAIN PAGE */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;

}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-offset {
  padding-bottom: 70px;
}

/* header */


.header-container {
  flex-direction: column;
}

.header-icon-link {
  text-align: center;
}

.header {
  padding: 36px 0;

}

.header-logo {
  margin-right: 40px;
}

.header-top {
  margin: 0;
  margin-bottom: 30px;

  align-items: center;
  justify-content: space-between;
}

.header-item-link {
  padding: 15px 0;
}

.header-profile-button {
  padding: 15px 0;
}

.header-profile-button > p {
  margin: 0 0 0 7px;
}

.header-list-link {
  padding: 13px 20px;
}

.btn-header-btn {
  padding: 13px 20px;

  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}

.header-bot {
  padding: 14px 45px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #FFFFFF;
  border-radius: 15px;

}

.header-list {
  margin: 0;
  padding: 0;
}

/* special-list */

.visually-hidden {
  display: none;
}


.section-title {
  margin-top: auto;
}

.special-title,
.about-title,
.services-title,
.benefits-title,
.article-title {
  margin: 0;
  margin-bottom: 20px;
}


.blog-services-desc {
  margin-top: auto 15;
}

.services-list {
  flex-wrap: wrap;
}

.services-items {
  width: 570px;
  margin-bottom: 24px;
}

.services-items:not(:nth-child(2n)) {
  margin-right: 24px;
}

.blog-services-title {
  margin: auto;
}

.card1 {
  margin-bottom: 24px;
}


.special__content {
  min-height: 600px;
  outline: 1px solid red;
  display: flex;
}

.special__block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 2);
}

.special__block:not(:last-child) {
  margin-right: 30px;
}

.special__item {
  flex: 1;
  outline: 1px solid red;

  margin-bottom: 30px;
  background-color: grey;

  padding: 40px;
}

.item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.special__item:last-child {
  margin-bottom: 0;
}
